* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f6fc;
    display: flex;
    flex-direction: column;
    height: 100vh;
     overflow: hidden;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0E0465;
    height: 65px;
    padding-right: 25px;
    color: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.584);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 65px;
    margin-right: 10px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.header-nav span {
    color: white;
    font-weight: normal;
}

.header-nav .active-org {
    border-bottom: 2px solid white;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding-left: 25px;
    background-color: #e6e6f0;
    outline: none;
}

.main-container {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

.sidebar {
    width: 260px;
    background-color: #d8d8e0;
    padding: 25px 0;
    border-radius: 20px;
    border: 1px solid #0E0465;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 97%;
    position: sticky;
}

.sidebar-nav ul {
    list-style: none;
    width: 100%;
}

.sidebar-nav li {
    margin: 12px 0;
}

.sidebar-nav a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: bold;
    font-size: 14px;
    padding: 12px 25px;
    display: block;
    transition: 0.3s;
    border-radius: 12px;
}

.sidebar-nav a:hover {
    background-color: #0E0465;
    color: #ffffff;
}

.sidebar-nav a.active {
    background-color: #0E0465;
    color: #ffffff;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stats-grid {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    border: 1px solid #0E0465;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    background-color: #ffffff;
}

.stat-card {
    flex: 1;
    text-align: center;
    border-right: 1px solid #0E0465;
}

.stat-card:last-child {
    border-right: none;
}

.stat-number {
    font-size: 22px;
    font-weight: bold;
    color: #0E0465;
}

.card {
    background-color: #D7D9E6;
    border: 1px solid #0E0465;
    border-radius: 10px;
    padding: 15px;
}

.activity-overview h2,
.card h2 {
    font-size: 14px;
    color: #0E0465;
    margin-bottom: 8px;
}

.activities-content {
    border: 1px solid #0E0465;
    border-radius: 8px;
    background-color: #fff;
    padding: 8px;
    min-height: 160px; 
}

.activity-two-col {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 3px 0;
  width: 100%;
}

.activity-two-col div {
  width: 50%;          
  white-space: nowrap; 
}

#activities > div {
  background: #fff;
  border-bottom: 1px solid #0E0465;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.6s ease;
}

#activities > div:hover {
  background: #EFEFFF;
}

.documents-body {
    border: 1px solid #0E0465;
    border-radius: 8px;
    background-color: #fff; 
    padding: 8px;
    min-height: 160px; 
}

.doc-item {
  background: #fff;
  border-bottom: 1px solid #0E0465;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.4s ease;
  font-size: 15px;
}

.doc-item:hover {
  background: #EFEFFF;
}


.documents-body .activity-two-col {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  width: 100%;
}

.documents-body .activity-two-col div {
  width: 50%;
  white-space: nowrap;
}

.activities-content,
.documents-content {
    max-height: 400px;     
    overflow-y: auto;
    padding-right: 10px;   
}

.dashboard-main {
    overflow-y: auto;
}

.dashboard-container {
    height: calc(100vh - 200px); 
    overflow-y: auto;
}

body {
    overflow-y: auto !important;
}
